<div class="row select">
  <div class="col s2 offset-s5">
    <select (change)="onChange($event.target.value)">
      <option value="allProjects" selected="selected">All Projects</option>
      <option value="rubyProjects">Ruby Projects</option>
      <option value="javaScriptProjects">JavaScript Projects</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 l4 projectList" *ngFor="let project of projects | async | language:filterByLanguage"  (click)="goToDetailPage(project)">
    <div class="card">
      <div class="card-image">
        <img src="{{project.image}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{project.title}}</span>
        <p>{{project.description}}</p>
        <p>{{project.languages}}</p>
      </div>
    </div>
  </div>
</div>
