<div class="row projectList">
  <div class="col s12">
    <form class="radioFilter" (change)="onChange($event.target.value)">
          <input class="with-gap" type="radio" name="group1" value="allProjects" checked="cehcked" id="all" />
          <label for="all">All Languages</label>
          <input class="with-gap" type="radio" name="group1" value="rubyProjects" id="ruby" />
          <label for="ruby">Ruby</label>
          <input class="with-gap" type="radio" name="group1" value="javaScriptProjects" id="javascript" />
          <label for="javascript">JavaScript</label>
    </form>
  </div>
</div>


<div class="row projectList">
  <div class="col s6 projectList" *ngFor="let project of projects | async | language:filterByLanguage" (click)="goToDetailPage(project)">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{project.image}}">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 center">{{project.title}}</span>
      </div>
    </div>

  </div>
</div>
