<div class="row aboutPage">
  <div class="col s12 center">
    <div class="card">
      <div class="card-image">
        <img class="contact" src="assets/images/me.png">
      </div>
      <div class="card-content">
        <span class="card-title center"><h2>I'm a full stack web developer. But you can call me Caitlin.</h2></span>
        <h5>Three years of lesson planning, curriculum creating, elementary school teaching, and professional development instructing indirectly led me to discover my love for code.</h5>
        <h5>As a Ruby track graduate of the Epicodus programming bootcamp, I'm ready to take on any language or project.</h5>
        <h5>Want to know more? <a class="contactLink" routerLink="/contact">Contact me!</a></h5>
      </div>
    </div>
  </div>
</div>
