<md-toolbar class="navBar">
  <span class="navLink"><a routerLink="/">Caitlin Ashtari</a></span>
  <span class="example-fill-remaining-space"></span>
  <span class="navLink"><a routerLink="about">About</a></span>
  <span class="navLink"><a routerLink="project-list">Projects</a></span>
  <span class="navLink"><a routerLink="contact">Contact</a></span>
</md-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <div class="container">
    <a class="text-muted">Copyright &copy; Caitlin Ashtari 2017</a>
  </div>
</footer>
