<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo center">Caitlin Ashtari</a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
        <!-- <li><a routerLink="about" class="navLink">About</a></li>
        <li><a routerLink="project-list" class="navLink">Projects</a></li>
        <li><a routerLink="contact" class="navLink">Contact</a></li> -->
      <!-- </ul> -->
    </div>
  </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>



<!-- <footer class="footer">
    <p>Copyright &copy; Caitlin Ashtari <span id="year"></span></p>
</footer> -->
