<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo center">Caitlin Ashtari</a>
      <!-- <ul id="nav-mobile" class="right hide-on-med-and-down"> -->
        <!-- <li><a routerLink="about" class="navLink">About</a></li>
        <li><a routerLink="project-list" class="navLink">Projects</a></li>
        <li><a routerLink="contact" class="navLink">Contact</a></li> -->
      <!-- </ul> -->
    </div>
  </nav>
</div>

<div class="container flow-text">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="footer-copyright">
    <div class="container left grey-text text-lighten-1">
    © <span id="year"></span> Copyright Caitlin Ashtari
    </div>
  </div>
</footer>

<!-- <footer class="footer">
    <p></p>
</footer> -->
