<div id="divProjects">
  <h2>Projects</h2>
  <a class="btn-floating btn-large waves-effect waves-light red" id="downButton1"><i class="material-icons">keyboard_arrow_down</i></a>
</div>
<br/>

<div id="divAbout">
  <h2>About</h2>
  <a class="btn-floating btn-large waves-effect waves-light red" id="downButton2"><i class="material-icons">keyboard_arrow_down</i></a></div>
<br>

<div id="divContact">
  <h2>Contact</h2>
  <a class="btn-floating btn-large waves-effect waves-light red" id="upButton"><i class="material-icons">keyboard_arrow_up</i></a>
</div>
