<div class="row index">
  <div class="col s12 l4">
    <div class="card" routerLink="about">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/images/graffittiiii.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator center">About</span>
      </div>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card" routerLink="project-list">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/images/mountain.png">
      </div>
      <div class="card-content">
        <span class="card-title activator center">Projects</span>
      </div>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card" routerLink="contact">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="assets/images/contact.png">
      </div>
      <div class="card-content">
        <span class="card-title activator center">Contact</span>
      </div>
    </div>
  </div>
</div>
