$white: #fff;
$instaWhite: rgb(250, 250, 250);
$instaOff: rgb(255, 255, 255);
$black: #000;
$teal: rgb(124, 205, 215);
// @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
// $marker: 'Permanent Marker', cursive;
// @import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway|Rock+Salt');
// $cursive: 'Cedarville Cursive', cursive;
$rock: 'Rock Salt', cursive;
$raleway: 'Raleway', sans-serif;
$typewriter: 'American Typewriter';

// body


body {
  color: $black;
  background-color: $instaWhite;
}

.container {
  padding-top: 60px;
}

// navbar
nav{
  background: $instaWhite;
  border: 0px;
  box-shadow: none;
}

a.brand-logo {
  font-size: 3em;
  font-family: $typewriter;
  height: 1.06em;
  transition: all .5s;
  text-decoration: none;
  color: $black;
  text-align: center;
  &:visited, &:active {
    text-decoration: none;
  }
  &:hover {
    color: $teal;
  }
}

span.card-title {
  font-size: 1.5em;
  transition: all .5s;
  font-family: $raleway;
  color: $black;
  &:hover, &:active, &:focus {
    background: none;
    text-decoration: none;
    color: $teal;
  }
}

// radio button
[type="radio"].with-gap:checked+label {
  color: black;
  font-family: $typewriter;
  font-size: 1em;
}

 [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
 border: 1px solid $teal;
 color: $black;
 background-color: $teal;
 font-family: $raleway;

}

.radioFilter{
  padding-top: 20px;
  text-align: center;
  color: $black;
  label{
    padding-right: 50px;
  }
}

div.card {
  border: 10px solid $white;
  position: center;
}


div.card-image {
  img.activator {
    height: 250px;
  }
}

// .card-small {
//   height: 1000px;;
//   width: auto;
// }

.contactLink {
  color: $teal;
  &:hover, &:active, &:visited{
    color: $teal;
    text-decoration: none;
  }
}

.card-title.activator {
  font-family: $raleway;
  font-weight: bold;
}

.contactPage {
  padding-top: 30px;
  text-align: center;
}

.detail, .project {
  padding-top: 20px;
  .card-image img{
    height: 100%;
  }
  .btn-floating{
    display: inline-block;
    margin: 5px;
    img.github {
      padding: 10px;
      width: 100%;
      filter: invert(100%);
    }
  }
}

// footer
footer.footer {
  position: fixed;
  margin-top: 80px;
  bottom:0px;
  margin-bottom:0px;
}
